<section>
<h3 id="res">Reservations</h3>

<script type="text/javascript">
// change the following values to match your settings
var planyo_site_id='21289'; // ID of your planyo site
var planyo_default_mode='reserve'; // one of: 'resource_list' (displays list of resources with photos, descriptions etc.), 'search' (displays the search box), 'empty' (will not display anything by default but will require you to either pass the resource ID as parameter in the URL (resource_id) or add an external search box or calendar preview), 'upcoming_availability' (displays a quick list of all upcoming availability)
var extra_search_fields=''; // comma-separated extra fields in the search box, e.g. 'Number of persons'. You first need to define them in settings/custom resource properties
var sort_fields=''; // comma-separated sort fields for the search box -- a single field will hide the sort dropdown box
var planyo_resource_ordering='name'; // optional sort criterium for resource list
var planyo_include_js_library=false; // set this to true if jQuery (required) should be included by this plugin, or false if your website already includes jQuery
var planyo_attribs='?separate-units=0&ppp_separate_ranges=0'; // optionally you can insert the attribute string here
var planyo_resource_id=''; // optional: ID of the resource being reserved
var planyo_language='EN'; // you can optionally change the language here, e.g. 'FR' or 'ES' or pass the languge in the 'lang' parameter. 'AUTO' means the language is detected automatically
var ulap_script="jsonp"; // leave this as "jsonp" for a plain-javascript implementation --OR-- if using a php/asp.net/java implementation, one of the ULAP scripts: "ulap.php", "ulap.aspx", "ulap.jsp", in such case you must download the advanced integration Planyo files from http://www.planyo.com/Plugins/PlanyoFiles/planyo-files.zip
var planyo_use_https=("https:" == document.location.protocol); // set this to true if embedding planyo on a secure website (SSL)
var planyo_files_location=(planyo_use_https ? "https" : "http") + '://static.planyo.com/Plugins/PlanyoFiles'; // relative or absolute directory where the planyo files are kept (leave unchanged for plain-javascript implementation, otherwise e.g. '/planyo-files' when using the ULAP scripts)
var empty_mode=false; // should be always set to false
</script>

<script type="text/javascript">
function get_param (name) {name = name.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");var regexS = "[\\?&]"+name+"=([^&#]*)";var regex = new RegExp (regexS);var results = regex.exec (window.location.href);if (results == null) return null;else  return results[1];}
if (get_param('mode'))planyo_embed_mode = get_param('mode');
function get_full_planyo_file_path(name) {if(planyo_files_location.length==0||planyo_files_location.lastIndexOf('/')==planyo_files_location.length-1)return planyo_files_location+name; else return planyo_files_location+'/'+name;}
document.write("<li"+"nk rel='stylesheet' href='htt"+"ps://static.planyo.com/schemes/?calendar="+window.planyo_site_id+"&detect_mobile=auto&sel=scheme_css' type='text/css' />");
 document.write("<"+"div id='planyo_content' class='planyo'><i"+"mg src='htt"+"ps://static.planyo.com/images/hourglass.gif' align='middle' /></"+"div>");
if (planyo_include_js_library) document.write("<sc"+"ript type='text/javascript' src='htt"+"ps://static.planyo.com/Plugins/PlanyoFiles/jquery.min.js'></sc"+"ript>");
document.write("<sc"+"ript src='htt"+"ps://static.planyo.com/Plugins/PlanyoFiles/booking-utils.js' type='text/javascript'></sc"+"ript>");

</script>
<noscript><a href='http://www.planyo.com/about-calendar.php?calendar=21289'>Make a reservation</a><br/><br/><a href='http://www.planyo.com/'>Reservation system powered by Planyo</a></noscript>


<script type='text/javascript' src='https://www.planyo.com/utils.js'></script>
<script type='text/javascript' src='https://www.planyo.com/wrappers.js'></script>

<script type='text/javascript'>
document.write("<link rel='stylesheet' href='https://static.planyo.com/schemes/?calendar=21289&detect_mobile=auto&sel=scheme_css' type='text/css' />");
</script>
<div id='planyo_search_widget' class='planyo '>
<style type='text/css'>
#search_form label {display:block;float:none;width:100%}
form#search_form li.planyo_static_help {margin-left:0px;}
</style>
<form id='box_search_form' name='search_form' class='left title_inside multi_column' action='https://www.planyo.com/booking.php' method='get'><fieldset ><ul><input type='hidden' value="21289" id='calendar' name='calendar' /><input type='hidden' value="1" id='submitted' name='submitted' /><input type='hidden' value="https://www.planyo.com/booking.php?calendar=21289" id='feedback_url' name='feedback_url' />  <div style='position:absolute;visibility:hidden;z-index:1000;' class='picker_dropdown title_inside' id='box_start_datecal' onmousedown='var e=arguments[0] || window.event;e.stopPropagation();' onclick='var e=arguments[0] || window.event;e.stopPropagation();' ></div>
		<script type='text/javascript'>
		      js_set_event(document.getElementById('box_start_datecal'), 'click', 'js_dummy',false);
                      document.first_weekday=0;
		</script>
  	<script type='text/javascript'>
            document.new_scheme=1;
      document.s_prev = "previous";
document.s_next = "next";
document.s_today = "today";
document.s_day = "day";
document.s_days = "days";
document.s_week = "week";
document.s_weeks = "weeks";
document.s_weekday = "weekday";
document.s_month = "month";
document.s_single_res = "single resource";
document.s_weekdays_short = eval('[\"M\", \"T\", \"W\", \"T\", \"F\", \"S\", \"S\"]');
document.s_weekdays_med = eval('[\"Mon\", \"Tue\", \"Wed\", \"Thu\", \"Fri\", \"Sat\", \"Sun\"]');
document.s_months_short = eval('[\"Jan\", \"Feb\", \"Mar\", \"Apr\", \"May\", \"Jun\", \"Jul\", \"Aug\", \"Sep\", \"Oct\", \"Nov\", \"Dec\"]');
document.s_months_long = eval('[\"January\", \"February\", \"March\", \"April\", \"May\", \"June\", \"July\", \"August\", \"September\", \"October\", \"November\", \"December\"]');
document.s_all = "All";
document.s_showall = "Show all";
document.s_areav = "are available. ";
document.s_clickres = "Click to make reservation.";
document.s_partav = "Available for part-day rental only. Click on the date above for details.";
document.s_outof = "out of";
document.s_unav = "Unavailable";
document.s_av = "Available";
document.s_vacation = "Vacations";
document.s_allday = "All day";
document.s_day_view = "show day";
document.s_month_view = "show month";
	if (!document.date_format) document.date_format = "M d, Y";

js_set_event(document, 'mousedown', 'js_close_calendar',false);

	</script>
  <li id='row_box_start_date' class='fld_single'><div id='par_box_start_date'  class='float-label-parent float-label-text-parent par_box_start_date'><label id='lab_box_start_date' style='visibility:hidden' for='box_start_date'>Date<em>*</em></label><input  type='text' id='box_start_date' name='box_start_date'  value=""  onfocus="js_close_calendar();document.active_float_date='box_start_date';js_show_calendar('box_start_date','planyo_float_date_changed();');" onmousedown="var e=arguments[0] || window.event;e.stopPropagation();" onclick="var e=arguments[0] || window.event;e.stopPropagation();"  placeholder="Date*" onfocus="update_float_label_focus('box_start_date',1);" onblur="update_float_label_focus('box_start_date',0);" onkeyup="update_float_label('box_start_date');" /></div><script type='text/javascript'>
function planyo_float_date_changed() {
  if(document.active_float_date)update_float_label(document.active_float_date);
  if(window.planyo_dates_changed)planyo_dates_changed(); else if(window.on_planyo_date_picked) on_planyo_date_picked();
}

function update_float_label(item_name) {
  var item=document.getElementById(item_name);
  var label=document.getElementById('lab_'+item_name);
  if(item && label) {
    label.style.visibility = item.value && item.value.length>0 ? 'visible' : 'hidden';
  }
}

function update_float_label_focus(item_name,f) {
  var item=document.getElementById('par_'+item_name);
  if(item) {
    item.style.borderColor = f ? '#3D83A8' : '#c0c0c0';
  }
  if(item_name=='phone'||item_name=='mobile_number_param') {
    var countryit=(item_name=='phone'?'phone_country_param':'mobile_country_param');
    if(document.getElementById(countryit) && document.getElementById(countryit).value=='-1')
      float_country_clicked(countryit);
  }
}

</script>
<div class='float-date-icon' onmousedown="js_close_calendar();var e=arguments[0] || window.event;e.stopPropagation();" onclick="var e=arguments[0] || window.event;e.stopPropagation();" onmouseup="document.active_float_date='box_start_date';js_show_calendar('box_start_date','planyo_float_date_changed();');" id="box_start_datecalref"></div><div style='clear:both'></div></li><input type='hidden' value="24" id='box_rental_time_value' name='rental_time_value' /><input type='hidden' value="name" id='sort_fields' name='sort_fields' /><input type='hidden' value="name" id='sort' name='sort' /><input type='hidden' value="1440" id='granulation' name='granulation' /><input type='hidden' value="search" id='mode' name='mode' /><input type='hidden' value="0" id='presentation_mode' name='presentation_mode' /></ul></fieldset><div id='res_form_buttons' >
<label for='submit_button'>&nbsp;</label><input class='button' id='box_submit_button' name='submit_button' type='submit' value="Search" /> </div>
<input type='hidden' value='true' id='submitted_field' name='submitted' /><a href='https://www.planyo.com/' class='poweredby'  target='_blank'><img border='0' title='Planyo online booking system' alt='Planyo online booking system' src='https://s3.amazonaws.com/planyo/poweredbyplanyo.png' /></a></form>
</div>

</section>
