<section>
<h3 id="res">Reservations</h3>

  <div class="forms">
  <p> Check Availability</p>
  <!--<iframe class="cal" id='calp_3891197195' style='width:225px;height:280px;' class='calprev_iframe caltype_3' scrolling='no' frameborder='0' src='https://www.planyo.com/embed-calendar.php?calendar=21289&style=multi-month&month-count=1&feedback_url=https%253A%252F%252Fwww.planyo.com%252Fbooking.php%253Fcalendar%253D21289&custom-language=EN&ifr=calp_3891197195&' target="_blank"></iframe>
-->
<iframe id='calp_3891197195' style='width:225px;height:270px;' class='calprev_iframe caltype_3' scrolling='no' frameborder='0' src='https://www.planyo.com/embed-calendar.php?calendar=21289&style=multi-month&month-count=1&feedback_url=https%253A%252F%252Fwww.planyo.com%252Fbooking.php%253Fcalendar%253D21289&custom-language=EN&ifr=calp_3891197195&'></iframe>
<iframe id='calp_1218993517' class='calprev_iframe caltype_3' scrolling='no' frameborder='0' src='https://www.planyo.com/embed-calendar.php?calendar=21289&style=multi-month&month-count=2&feedback_url=https%253A%252F%252Fwww.planyo.com%252Fbooking.php%253Fcalendar%253D21289&custom-language=EN&ifr=calp_1218993517&'></iframe>
<p> Location </p>
<iframe class="map" width='400' height='400' frameborder='0' scrolling='no' src='https://www.planyo.com/embed-map.php?width=500&height=500&zoom=12&map_type=hybrid&feedback_url=https%3A%2F%2Fwww.planyo.com%2Fbooking.php%3Fcalendar%3D21289&calendar=21289&lang=EN'></iframe>
<a rel='button' class='btn btn-primary' href='https://www.planyo.com/booking.php?calendar=21289&resource_id=55668&mode=reserve&planyo_lang=EN'>Make a reservation</a>
  </div>
</section>
