.cal
  margin-left: 50px

.btn-primary
  float: right
  background: #c99065
  color: white
  font-size: 18px
  text-transform: uppercase
  width: 33%
  border: 3px solid $accent
  width: 100%
  +box-sizing(border-box)
  padding: 50px
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  font-size: 16px

  &:hover
    background: $accent-light
    color: white
