.cal
  margin-left: 48px

.btn-primary
  float: right
  background: #c99065
  color: white
  font-size: 18px
  text-transform: uppercase
  width: 25%
  border: 3px solid $accent
  width: 50%
  +box-sizing(border-box)
  padding: 10px
  margin-top: 100px
  //padding-bottom: 50px
  //-webkit-appearance: none
  //-moz-appearance: none
  //appearance: none
  font-size: 16px
  +align-content(center)

  &:hover
    background: $accent-light
    color: white
